<head>
  <meta charset="utf-8">
  <title> Maopage </title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- Fonts  -->

  <!-- <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'> -->
  <!-- <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'> -->
  <!-- Javascript -->
  <!-- <script type="text/javascript" src="{{ site.baseurl }}js/jquery.js"></script> -->
  <!-- <script type="text/javascript" src="{{ site.baseurl }}js/custom.js"></script> -->
</head>
