@import "base/variables";
@import "libaries/neat/neat";

.post {
    max-width: 720px;
    padding-bottom: $padding-medium;
}

table {
  width: 100%;
}


table, th, td {
    border: 1px solid lighten(black, 70%);
    padding: $padding-small;
}
