// Color
$primary-color: #811DFF;
$font-color: #555;
$white: #fff;
$black: #000;

// Font
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
$primary-font: 'Noto Sans TC', sans-serif;
$seconday-font: 'Noto Sans TC', sans-serif;
$font-size: 15px;
$p: $font-size;
$h1: $font-size * 2;
$h2: $font-size * 1.2;

// Margin
$margin: 6px;
$margin-small: $margin * 2;
$margin-medium: $margin * 4;
$margin-large: $margin * 6;

// Padding
$padding: 6px;
$padding-small: $padding * 2;
$padding-medium: $padding * 4;
$padding-large: $padding * 6;

// Screen
$mobile: new-breakpoint(max-width 540px 4);
$tablet: new-breakpoint(max-width 720px 8);
$desktop-small: new-breakpoint(max-width 1096px 12);
